#!/usr/bin/make -f

#override_dh_auto_install:
#	$(overridden_command) --destdir=debian/tmp

#override_dh_python3:
#	dh_python3 -p kajongg /usr/share/kajongg
#	dh_python3 -p kajongg /usr/share/kajonggserver
#	dh_python3 --remaining-packages


export PYBUILD_SYSTEM=distutils

%:
	dh $@ --with python3 --buildsystem pybuild

override_dh_auto_clean:
	-dh_auto_clean
	-rm .pybuild/pythonX.Y_3.5/.pydistutils.cfg
